{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/prefs/pref-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Tree Preferences</h1>
  <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
</section>

<section class="card-container">
  {% for pref in pref_list %}
  <div class="card" style="border-color: {{ pref.color }}">
    <div class="card-bg" style="background-color: {{ pref.color }}"></div>
    <a href="{% url 'pref-detail' pref.id %}">
      <div class="card-content">
        <h2>{{ pref.date }}</h2>
        <p>A {{ pref.color }} preference</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}