{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/trees/tree-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Tree List</h1>
  <img src="{% static 'images/cool-tree.svg' %}" alt="A cool tree" />
  <img src="{% static 'images/happy-tree.svg' %}" alt="A happy tree" />
  <img src="{% static 'images/teacup-tree.svg' %}" alt="A tree in a teacup" />
  <img src="{% static 'images/tree-in-box.svg' %}" alt="A tree in a box" />
</section>

<section class="card-container">
  {% for tree in trees %}
    <div class="card">
      <a href="{% url 'tree-detail' tree.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/sk8r-boi-tree.svg' %}" 
              alt="A skater boy tree"
            >
          </div>
          <h2 class="card-title">{{ tree.name }}</h2>
          <p>A member of the {{ tree.family }} family.</p>
          {% if tree.lifeSpan > 0 %}
            <p>Typical lifespan: {{ tree.lifeSpan }} years</p>
          {% else %}
            <p>Lifespan varies or is unknown.</p>
          {% endif %}
          <p><small>{{ tree.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
